.mainBody{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameIntro{
  font-size: 40px;
  color: white;
}

.developer{
  font-size: 40px;
  color: white;
  color:#EC5453
}

.textBody{
  font-size: 20px;
  color: white;
}

.cakeman{
  width: 40rem
}

@media only screen and (max-width: 600px) {
  .mainBody{
    display: flex;
    flex-direction: column;

  }
  .cakeman{
    width: 20rem
  }
  .mobileContainer{
    display: flex;
    justify-content: center;
  }
}
