.mainProjectContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.box {
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 5px;
 margin-top: 20px;
 width: 300px;
 min-height:400px;
}

.contentContainer{
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 600px) {
  .mainProjectContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  }

  .timeMan{
    width:20rem
  }
  .mobileContainer{
    display: flex;
    justify-content: center;
  }
}