

body { 
	max-width: 1440px; 
	float: none !important; 
  margin-left: auto;
  margin-right: auto;
  
  background: linear-gradient(to bottom right, #337FFF , #DFABBD );
}

@media only screen and (max-width: 600px) {
  body {
    margin: 10px !important;
  }
}


.main{
  margin: 80px;
}

.mainBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 30px;
  color: white;


}

.buttonContainer{
  display: flex;
  flex-direction: row;
 }

@media only screen and (max-width: 600px) {
  .buttonContainer{
    display: flex;
    flex-direction: column;
  }
}

.mainBody{
  display: flex;
  flex-direction: row;
}

.nameIntro{
  font-size: 40px;
  color: white;
}